.detailed-weather {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    color: white;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.detailed-weather h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.weather-detail {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.weather-column {
    flex: 1;
}

.weather-column p {
    font-size: 16px;
    margin: 10px 0;
}

.detailed-weather strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .detailed-weather {
        max-width: 100%;
    }

    .detailed-weather h2 {
        font-size: 20px;
    }

    .weather-detail {
        flex-direction: column;
        gap: 10px;
    }

    .weather-column {
        display: block;
    }

    .weather-column p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .detailed-weather h2 {
        font-size: 18px;
    }

    .weather-column p {
        font-size: 12px;
    }
}
