.weather {
    place-self: center;
    padding: 40px;
    border-radius: 50px;
    background-image: linear-gradient(45deg, #1a205a, #0a3de4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: white;
    background: white;
    font-size: 18px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}